body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(../img/fundo.png);
}

header {
    background-color: #241f21;
    margin-bottom: 20px;
}

footer {
    background-color: #fff;
    margin-top: 20px;
}

